<<<<<<< HEAD
<h1>
  August Website</h1>
=======
<<<<<<< HEAD
<h1>
<<<<<<< HEAD
  {{title}}
</h1>
<p>Welcome to {{title}}</p>



<h1>August Website</h1>
=======
    August Website</h1>
>>>>>>> 2ef2b768654402991793b9acf2d249a822d36eec
=======
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Welcome to {{title}}</p>

<h1>August Website</h1>
>>>>>>> f5c593cee552f6d0500a2225ebbb1beb7cc70bdb
>>>>>>> c62e9b4f4ee82bd575429e4ae2e9f19a70b629d7

<h2>Students</h2>


<ul>

  <li><a href="/ana">Ana</a></li>
  <li><a href="/jen">Jen</a></li>
  <li><a href="/carla">carla</a></li>

  <li>Ana</li>
  <li><a href="/jessica">Jessica</a></li>
  <li><a href="/jen">Jen</a></li>

  <li><a href="/anita">Anita</a></li>
  <li><a href="/samuele">Samuele</a></li>
  <li><a href="/flowantsicecream">Flo</a></li>

  <li><a href="/carla">carla</a></li>
  <li><a href="/anita">Anita</a></li>
<<<<<<< HEAD
  <li><a href="/samuele">Samuele</a></li>
  <li><a href="/flowantsicecream">Flo</a></li>
</ul>

<h2>Teachers</h2>
=======

  <li><a href="/samuele">Samuele</a></li>
  <li><a href="/flo">Flo</a></li>
</ul>
</ul>
>>>>>>> c62e9b4f4ee82bd575429e4ae2e9f19a70b629d7


<h2>Teachers</h2>
<ul>
  <li><a href="/maxence">Maxence</a></li>
</ul>

<<<<<<< HEAD
=======
<ul>
<<<<<<< HEAD
  <li><a href="/ana">Ana</a></li>
  <li><a href="/anita">Anita</a></li>
  <li><a href="/carla">carla</a></li>
  <li><a href="/flowantsicecream">Flo</a></li>
  <li><a href="/jen">Jen</a></li>
  <li><a href="/jessica">Jessica</a></li>
  <li><a href="/nhan">Nhan</a></li>
  <li><a href="/samuele">Samuele</a></li>
=======
    <li>
        <a href="/alina">Alina</a>
    </li>
    <li>
        <a href="/ana">Ana</a>
    </li>
    <li>
        <a href="/anita">Anita</a>
    </li>
    <li>
        <a href="/carla">carla</a>
    </li>
    <li>
        <a href="/flowantsicecream">Flo</a>
    </li>
    <li>
        <a href="/jen">Jen</a>
    </li>
    <li>
        <a href="/jessica">Jessica</a>
    </li>
    <li>
        <a href="/nhan">Nhan</a>
    </li>
    <li>
        <a href="/samuele">Samuele</a>
    </li>
>>>>>>> 2ef2b768654402991793b9acf2d249a822d36eec
</ul>
=======
    <li><a href="/ana">Ana</a></li>
    <li><a href="/jen">Jen</a></li>
    <li><a href="/carla">carla</a></li>
    <li><a href="/samuele">Samuele</a></li>
    <li><a href="/flowantsicecream">Flo</a></li>
    <li><a href="/ojuna">Ojuna</a></li>
>>>>>>> f5c593cee552f6d0500a2225ebbb1beb7cc70bdb

</ul>
>>>>>>> c62e9b4f4ee82bd575429e4ae2e9f19a70b629d7
<h2>Teachers</h2>
<ul>
<<<<<<< HEAD
<<<<<<< HEAD
  <li><a href="/maxence">Maxence</a></li>
=======
=======
    <li><a href="/maxence">Maxence</a></li>
>>>>>>> f5c593cee552f6d0500a2225ebbb1beb7cc70bdb
    <li>
        <a href="/maxence">Maxence</a>
    </li>
>>>>>>> 2ef2b768654402991793b9acf2d249a822d36eec
</ul>