<h1>
  August Website</h1>

<h1>

  {{title}}
</h1>
<p>Welcome to {{title}}</p>



<h1>August Website</h1>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Welcome to {{title}}</p>

<h1>August Website</h1>


<h2>Students</h2>


<ul>

  <li><a href="/ana">Ana</a></li>
  <li><a href="/jen">Jen</a></li>
  <li><a href="/carla">carla</a></li>

  <li>Ana</li>
  <li><a href="/jessica">Jessica</a></li>
  <li><a href="/jen">Jen</a></li>

  <li><a href="/anita-kash">Anita and Kash</a></li>
  <li><a href="/samuele">Samuele</a></li>
  <li><a href="/flowantsicecream">Flo</a></li>

  <li><a href="/carla">carla</a></li>


  <li><a href="/samuele">Samuele</a></li>
  <li><a href="/flowantsicecream">Flo</a></li>
</ul>

<h2>Teachers</h2>


  <li><a href="/samuele">Samuele</a></li>
  <li><a href="/flo">Flo</a></li>
</ul>
</ul>



<h2>Teachers</h2>
<ul>
  <li><a href="/maxence">Maxence</a></li>
</ul>

</ul>

    <li><a href="/ana">Ana</a></li>
    <li><a href="/jen">Jen</a></li>
    <li><a href="/carla">carla</a></li>
    <li><a href="/samuele">Samuele</a></li>
    <li><a href="/flowantsicecream">Flo</a></li>
    <li><a href="/ojuna">Ojuna</a></li>


</ul>

<h2>Teachers</h2>
<ul>

  <li><a href="/maxence">Maxence</a></li>
</ul>